@import url("https://fonts.googleapis.com/css2?family=Allan:wght@400;700&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Spicy+Rice&display=swap");
* {
  font-family: "Sansation", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* header */
header {
  padding: 1.5rem;
  width: 100%;
  background-color: rgb(148, 55, 55);
  color: white;
}
h3.slogan {
  font-family: "Allan", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  padding-left: 4rem;
}
h1 {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 0.5rem;
}
h2 {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 0.5rem;
  text-decoration: underline solid rgb(148, 55, 55);
}

/* add Task section */
#addTask div,
#addTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
  background-color: rgb(148, 55, 55);
}
#addTask input {
  padding: 1rem;
  width: 40rem;
  border-radius: 0.5rem;
  border: none;
}
#addTask button {
  width: 10rem;
  padding: 0.5rem;
  color: rgb(148, 55, 55);
  font-variant: small-caps;
  font-weight: 600;
  font-size: 24px;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
}
#addTask select {
  margin: 1rem;
  padding: 0.5rem;
  width: 42rem;
  border-radius: 0.5rem;
  border: none;
}
